<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}

{{!-- posts --}}
<div class=" card mb-4 mx-5 border border-primary">
  <div class="card-header text-white bg-info mb-3">
      <h2> {{post.title}}</h2>
      <small>Posted by {{post.user.username}} on {{post.date_created}}</small>
  </div>
  
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>

  {{!-- comments of post set in display-none --}}
  <div class="d-none card-footer mb-4 bg-light border border-primary">

    {{#each post.comments as |comment| }}
      <div class="row mb-4 border border-primary">
        <small>Comment from {{comment.user.username}} on {{comment.date_created}}</small>
        <p class="card-text">{{comment.contents}}</p>
        <br>
      </div>
    {{/each}}
    {{!-- comment input section --}}
    {{#if logged_in}}
      <div class="row">
        <div class="d-flex flex-start w-100">
          <div class="form-outline w-100">
            <textarea
              class="form-control"
              id="textAreaExample"
              rows="4"
              style="background: #fff;"
            ></textarea>
          </div>
        </div>
        <div class="float-end mt-2 pt-1">
          <button type="button" class="btn btn-primary btn-sm">Post comment</button>
          <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
        </div>     
      </div>
    {{/if}}
  </div>
</div>

{{/each}}

<script src="./js/homepage.js"></script>